# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.log

# Next.js
.next/
out/
build
dist

# Environment variables
.env
.env*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Turborepo
.turbo

# Docker
docker-compose.override.yml

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars

# Misc
*.pem
*.key
.vercel
